@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Cores */

:root {
    --cor-primaria: #4339de;
    --cor-primaria-variacao: #493cf8;
    --cor-secundaria: #767676;
}

/* Global */

html {
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    margin-bottom: 500rem; /* Será removido no final */
}

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

.circulo-roxo {
    background-color: var(--cor-primaria);
    border-radius: 50%;
  }

/* Seção header - mobile */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem, 1rem, 1rem, ;
}

#menu-hamburguer {
    width: 15%;
    max-height: 5rem;
}

.web-only.header {
    display: none;
}



/* Seção header - web */

@media (min-width: 768px) {

    header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 5rem;
        margin: 0;

    }

    header a {
        text-decoration: none;
        color: inherit;
    }

    header a:hover {
        color: var(--cor-primaria);
        transition: all 0.3s ease;
    }

    header a:visited {
        color: inherit;
    }

    .botoes-navegacao.web-only.header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem;
        font-size: 1.7rem;
        font-weight: bold;
        width: 100%;
        list-style: none;
        cursor: pointer;
    }

    #botao-dizer-oi {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        border: 1.5px solid black;
        border-radius: 2rem;
        padding: 0.8rem;
    }

    #botao-dizer-oi:hover {
        background-color: var(--cor-primaria);
        transition: all 0.7s ease;
        border: 1.5px solid white;
        color: white;
    }
    
    .mobile-only.header {
        display: none;
    }

    .web-only.header {
        display: block;
    }
}

/* Seção tela inicial - mobile */

#tela-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55rem;
    flex-wrap: wrap;
    background-color: var(--cor-primaria-variacao);
}

#titulo-tela-inicial {
    font-size: 3.2rem;
    color: white;
    text-align: center;
}

#subtitulo-tela-inicial {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

#container-icone-circulo-tela-inicial {
    position: relative;
    height: 50%;
}

#circulo-roxo-tela-inicial {
    color: var(--cor-primaria);
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}

#icone-marlon {
    position: absolute;
    top:-3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 14.5rem;
    height: auto;
}

/* Seção tela inicial - web */

@media (min-width: 768px) {

    #tela-inicial {
        justify-content: space-around;
    }

    #titulo-e-subtitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex: 1 1 40rem;
        width: 50%;

    }

    #titulo-tela-inicial {
        font-size: 4.8rem;
        width: 100%;
    }

    #subtitulo-tela-inicial {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 40rem;
        margin: 0;
        font-size: 2rem;
    }

    #container-icone-circulo-tela-inicial {
        position: relative;
        width: 50%;
        display: flex;
        flex: 1 1 40rem;
        justify-content: center;
        align-items: center;

    }

    #circulo-roxo-tela-inicial {
        width: 30rem;
        height: 30rem;
    }

    #icone-marlon {
        width: 21rem;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Seção projetos - mobile */

#projetos {
    text-align: center;
}

#titulo-secao-projetos-mobile {
    font-size: 3.4rem;
    font-weight: bolder;
    color: var(--cor-primaria);
    margin-bottom: 1.5rem;
}

.web-only.projetos {
    display: none;
}

/* Seção projetos - web */

@media (min-width: 768px) {

    .mobile-only.projetos {
        display: none;
    }


}