@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Cores */

:root {
  --cor-primaria: #4339de;
  --cor-primaria-variacao: #493cf8;
  --cor-secundaria: #767676;
}

/* Global */

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  margin-bottom: 500rem; /* Será removido no final */
  overflow-x: hidden;
}

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box; 
}

.circulo-roxo {
  background-color: var(--cor-primaria);
  border-radius: 50%;
}

/* Seção header - mobile */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
}

#menu-hamburguer {
  width: 15%;
  max-height: 5rem;
}

.web-only.header {
  display: none;
}

/* Seção header - web */

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin: 0;
  }

  header li a {
    text-decoration: none;
    color: inherit;
  }

  header li:hover a {
    color: var(--cor-primaria);
    transition: all 0.3s ease;
  }

  header a:visited {
    color: inherit;
  }

  .botoes-navegacao.web-only.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    list-style: none;
    cursor: pointer;
  }

  #botao-dizer-oi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    padding: 0.5rem;
    border: 1.5px solid black;
    border-radius: 2rem;
    transition: all 0.7s ease;
  }

  #botao-dizer-oi:hover {
    background-color: var(--cor-primaria);
    border: 1.5px solid white;
    color: white;
  }

  .mobile-only.header {
    display: none;
  }

  .web-only.header {
    display: block;
  }
}

/* Seção tela inicial - mobile */

#tela-inicial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 55rem;
  background-color: var(--cor-primaria-variacao);
}

#titulo-tela-inicial {
  font-size: 3.2rem;
  color: white;
  text-align: center;
}

#subtitulo-tela-inicial {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

#container-icone-circulo-tela-inicial {
  position: relative;
  height: 50%;
}

#circulo-roxo-tela-inicial {
  color: var(--cor-primaria);
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

#icone-marlon {
  position: absolute;
  width: 14.5rem;
  height: auto;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Seção tela inicial - web */

@media (min-width: 768px) {
  #tela-inicial {
    justify-content: space-around;
  }

  #titulo-e-subtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 40rem;
    width: 50%;
  }

  #titulo-tela-inicial {
    font-size: 4.8rem;
    width: 100%;
  }

  #subtitulo-tela-inicial {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40rem;
    margin: 0;
    font-size: 2rem;
  }

  #container-icone-circulo-tela-inicial {
    display: flex;
    flex: 1 1 40rem;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
  }

  #circulo-roxo-tela-inicial {
    width: 30rem;
    height: 30rem;
  }

  #icone-marlon {
    width: 21rem;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Seção projetos - mobile */

#projetos {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#titulo-secao-projetos-mobile,
#titulo-secao-projetos-web {
  font-size: 3rem;
  font-weight: bolder;
  width: 70%;
  color: var(--cor-primaria);
  margin-bottom: 1.5rem;
}

#circulo-roxo-ultimo-projeto,
#circulo-roxo-projeto-esquerda,
#circulo-roxo-projeto-direita {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  justify-self: center;
  background-color: var(--cor-primaria);
  cursor: pointer;
  transition: transform 0.3s ease;
}

#circulo-roxo-ultimo-projeto:hover,
#circulo-roxo-projeto-esquerda:hover,
#circulo-roxo-projeto-direita:hover {
    transform: scale(1.1);
}

#botao-github {
  margin-top: 5%;
  justify-self: center;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--cor-primaria);
  text-decoration: underline;
  border: none;
  background: none;
  cursor: pointer;
}

.web-only.projetos {
  display: none;
}

/* Seção projetos - web */

@media (max-width:1614px) {
  .projeto-direita.web-only.projetos {
    display: none;
  }

}

@media (min-width: 768px) {
  #projetos {
    padding-top: 2rem;
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-bottom: 12rem;
  }

  #cards-de-projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    gap: 5rem;
  }

  #cards-de-projetos > * {
    max-width: 90vw;
  }
  

  .mobile-only.projetos {
    display: none;
  }

  .web-only.projetos {
    display: block;
  }

  .web-e-mobile.web-only.projetos {
    display: block;
  }
}

/* Seção sobre mim - mobile */

#sobre-mim {
  display: block;
  background-color: var(--cor-primaria);
  height: 52rem;
}

#titulo-secao-sobre-mim {
  font-size: 3.4rem;
  font-weight: bolder;
  padding-top: 5rem;
  margin-top: 8.5rem;
  margin-bottom: 1.5rem;
  align-self: center;
  justify-self: center;
  color: white;
}

#foto-marlon {
  display: block;
  margin: 4rem auto 1rem auto;
  width: 18rem;
  height: 18rem;
  border: 3px solid white;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

#foto-marlon:hover {
  transform: scale(1.1);
}

.fatos {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}